.btn {
    @apply inline-flex items-center px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150;
}

.btn-green {
    @apply bg-green-700 dark:bg-green-700 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-green-900 dark:hover:bg-green-900 focus:bg-gray-700 dark:focus:bg-green-900 active:bg-green-900 dark:active:bg-green-700;
}

.btn-yellow {
    @apply bg-yellow-700 dark:bg-yellow-700 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-yellow-900 dark:hover:bg-yellow-900 focus:bg-gray-700 dark:focus:bg-yellow-900 active:bg-yellow-900 dark:active:bg-yellow-700;
}

.btn-red {
    @apply bg-red-700 dark:bg-red-700 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-red-900 dark:hover:bg-red-900 focus:bg-gray-700 dark:focus:bg-red-900 active:bg-red-900 dark:active:bg-red-700;
}
